// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;
@use "../base" as *;

.footer{
    margin-top:2em;
    padding:3em;
    background-color: map-get($colors,'bgtext');
   position: relative;
    &__heading{
        position: relative;
        text-align: center;
        font-family: map-get($font,'secondary'),sans-serif;
        font-size:4vw;
        &::before{
            @include stylesForPseudoElement($content:"",$width:20%,$height:0.2rem,$top:100%,$left:30%);
            background-color: map-get($colors,'secondary');
            transform: translate(-50%,-50%);
        }
    }
    &__data{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        margin-top: 4em;
    }
}
.form{
    display: flex;
    align-items:stretch;
    justify-content: center;
    flex-direction: column;
    min-width:55vw;
    &__contact{
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        width:100%;
    }
    &__des{
        margin: 0.9em 0;
        width:100%;
        flex:1;
    }
    &__name{
        margin-right: 0.9em;
        width:100%;
    }
    &__email{
        width:100%;
    }
}
        
 .btn--submit{
     align-self: flex-end;
 }      
@media(max-width:820px){
    .form{
       justify-content: space-between;
       &__contact{
           flex-flow: row wrap;
        }
        &__des{
            margin: 0.9em 0;
            
        }
        &__name{
            margin-right: 0;
            margin-bottom: 0.9em;
            
        }
    }
      
}

@media(max-width:566px){
    .footer{
       &__heading{
            font-size:7vw;
            line-height: 1.1;
            text-align: left;
         }
        &__data{
            display: flex;
            justify-content: space-evenly;
            flex-flow: row wrap;
            margin-top: 4em;
        }
    }
    .form{
       order:1;
       justify-content: space-between;
       &__contact{
           flex-flow: row wrap;
        }
        &__des{
            margin: 0.9em 0;
       }
      
        &__name{
            margin-right: 0;
            margin-bottom: 0.9em;
            
        }
    }
      
}
@media(max-width:366px){
    .footer__heading{
        font-size:11vw;
    }
}