@use "../abstracts" as *;
@use "../base" as *;
.navbar{
    height:100vh;
    padding:6em;
    margin-top: 1em;
    h2{
        overflow: hidden;
        font-size:9vw;
        line-height: 1.1;
        font-family: map-get($font,'primary'),sans-serif;
        color:map-get($colors,'secondary');
        @include createTransition($property:all,$time:map-get($transitionTime,fas),$timingFunc:ease);
        &:hover{
            color:scale-color($color:#000,$lightness: 95%);
            @supports(-webkit-text-stroke:2px map-get($colors,'secondary')){
                color:transparent;
                -webkit-text-stroke:2px map-get($colors,'secondary');
            }
        }
    }
}
@media (max-width:566px){
 .navbar{
      padding:3em;
    }

    h2 span{
        font-size:11vw;
        line-height: 1.3;
    }
}
        
@media (max-width:406px){
    h2 span{
        font-size:10vw;
    }
}
        