@use "../abstracts" as *;
@use "../base" as *;
.navbar {
  ul {
    display: flex;
    margin-left:3em;
    li{
       margin: 0 1em;
       position: relative;
    a{
      overflow: hidden;
      font-family: map-get($font, "linktext"), sans-serif;
      color: map-get($colors, "secondary");
    &::before{
        @include stylesForPseudoElement($content:"",$width:100%,$height:0.1rem,$top:100%,$left:0);
        background-color:currentColor;
        transition: all 500ms;
        transform-origin:left;
        transform: scaleX(0);
    }
    &:hover::before{
      transform: scaleX(1);
    }
    @include createTransition(
        $property: all,
        $time: map-get($transitionTime, fas),
        $timingFunc: ease
    );
     h3{
        font-size: 1.1rem;
        overflow: hidden;
     }
    }
  }
}
    
}

// @media (max-width:566px){
//  .navbar{
//       padding:3em;
//     }

//     h2 span{
//         font-size:11vw;
//         line-height: 1.3;
//     }
// }

// @media (max-width:406px){
//     h2 span{
//         font-size:10vw;
//     }
// }
