@use "../abstracts" as *;
@use "../base" as *;

.alert{
    position:absolute;
    bottom:10%;
    left:50%;
    display: none;
    transform: translateX(-50%);
    font-size:1.1rem;
    font-family:map-get($font,'linktext'),sans-serif;
    padding:0.1em 0.5em;
    background-color:map-get($colors,'secondary');
    color: map-get($colors,'primary');
    border-radius: 0.1em;
    width:50ch;
    text-align: center;
}
@media(max-width:528px){
    .alert{
        width:80%;
        bottom:24%;
        font-size:1rem;
    }
}