@use "../abstracts" as *;
@use "../base" as *;

.preloader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: map-get($colors,'secondary');
    z-index: 4;
    display:grid;
    place-items: center;
    transition: display 300ms;
    &__heading{
        color:map-get($colors,'primary');
        font-size:6vw;
        font-family: map-get($font,'preloader'),sans-serif;
        text-transform: uppercase;
    }
    &__track{
        position: relative;
        width:80vw;
        max-width:700px;
        height:0.2rem;
        background-color: map-get($colors,'bgtext');
    }
    &__thumb{
        position: absolute;
        top:0;
        left:0;
        width:4vw;
        height:108%;
        transform-origin: left;
        background-color: map-get($colors,'secondary');
        animation:preloader 4s linear infinite;
    }
    &__text{
        font-family: map-get($font,'primary--rg');
        font-size:3.7vw;
        line-height:1.2;
        color:map-get($colors,'primary');
    }
}

.center{
   @extend .preloader__text;
   @include createTransition($property:all,$time:1.9s,$timingFunc:ease-in);
   opacity:0;
   transform-origin: 62% 37%;
}

@keyframes preloader{
    0%{
        left:0;
        
    }
    100%{
        left:100%;
    }
}
