@use "../abstracts" as *;
.scrollbar{
    position: fixed;
    top:50%;
    left:3%;
    transform: translate(-50%,-50%);
    width:1.5px;
    height:77vh;
    background-color: map-get($colors,'secondary');
    z-index:map-get($zIndex,'top');
    &__thumb{
        position: absolute;
        top:0;
        left:0;
        @include stylesForCircle($radius:20px,$bg-Clr:transparent,$stroke-width:2px,$stroke-clr:map-get($colors,'secondary'));
    &::before{
        content:"";
        position: absolute;
        top:50%;
        left:50%;
        @include stylesForCircle($radius:7px,$bg-Clr:map-get($colors,'secondary'),$stroke-width:2px,$stroke-clr:map-get($colors,'secondary'));
      }
    }
}