.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 7em;
}
.intro__title {
  line-height: 1.23;
}
.intro__heading {
  text-align: left;
  font-size: 8vw;
  font-family: "hansonbold";
  overflow: hidden;
}
.intro__heading:first-child {
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
}
.intro__para {
  align-self: center;
  font-size: 1.2rem;
  max-width: 50ch;
  font-family: "Roboto", sans-serif;
  margin-top: 0.5em;
}
.intro__para a {
  font-weight: bold;
  color: white;
  z-index: 200;
}

.intro__para a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .intro {
    padding: 5em;
  }
  .intro__para {
    width: 100%;
  }
  .intro__heading {
    font-size: 10vw;
  }
}
@media (max-width: 560px) {
  .intro {
    padding: 3.4em;
  }
  .intro__para {
    width: 100%;
  }
  .intro__heading {
    font-size: 13vw;
  }
}
@media (max-width: 398px) {
  .intro {
    padding: 2em;
  }
  .intro__para {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  .intro__heading {
    font-size: 14vw;
  }
  .intro__title {
    margin-top: 4em;
  }
}
@media (max-width: 300px) {
  .intro {
    padding: 1.2em;
  }
}

.hider {
  transition: all 700ms;
}
.intro_para {
  overflow: hidden;
}
.left-slider {
  transform: translateX(100%);
  opacity: 0;
  animation: left-slide 1s ease 2.3s forwards;
}
@keyframes left-slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.up-slider {
  transform: translateY(100%);
  opacity: 0;
  animation: up-slide 1s ease 2.2s forwards;
}
@keyframes up-slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
