/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 0;
}

/**
 * Basic styles for lists
 */
ul li {
  list-style: none;
}

/**
* Basic styles for links
*/
a {
  text-decoration: none;
}

/**
* Basic styles for body
*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #fafafa;
  background-color: #000;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background-color: #fafafa;
  color: #000;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before, *::after {
    animation-duration: 0ms;
    transition: 0.01ms !important;
  }
}
@font-face {
  font-family: "hansonbold";
  src: url("..//..//assests/fonts/hanson-bold-webfont.woff2") format("woff2"), url("..//..//assests/fonts/hanson-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "monument_extendedultrabold";
  src: url("..//..//assests/fonts/monumentextended-ultrabold-webfont.woff2") format("woff2"), url("..//..//assests/fonts/monumentextended-ultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hansonhairline";
  src: url("..//..//assests/fonts/hanson_hairline-webfont.woff2") format("woff2"), url("..//..//assests/fonts/hanson_hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "monument_extendedregular";
  src: url("..//..//assests/fonts/monumentextended-regular-webfont.woff2") format("woff2"), url("..//..//assests/fonts/monumentextended-ultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grid--center {
  display: grid;
  place-items: center;
}

.position--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opener {
  transform-origin: left;
}

.hider {
  display: block;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 8ch;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  padding: 0.1em 0.5em;
  color: #fafafa;
  background-color: #000;
  border: 1px solid #fafafa;
  transition: all 200ms ease;
}
.btn:hover, .btn:focus {
  background-color: #fafafa;
  color: #000;
}

@media (max-width: 366px) {
  .btn {
    font-size: 1.2rem;
  }
}
.input {
  background-color: #0a0a0a;
  font-size: 1.3rem;
  padding: 0.5em;
  outline: 1px solid transparent;
  border: 1px solid #fafafa;
  border-radius: 0.3rem;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  resize: vertical;
  flex: 1 1 100%;
}

.scrollbar {
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 1.5px;
  height: 77vh;
  background-color: #fafafa;
  z-index: 3;
}
.scrollbar__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  border: 2px solid #fafafa;
}
.scrollbar__thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fafafa;
  transform: translate(-50%, -50%);
  border: 2px solid #fafafa;
}

.cursor {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0000008c;
  transform: translate(-50%, -50%);
  border: 2px solid #fafafa;
  pointer-events: none;
  z-index: 3;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fafafa;
  transform: translate(-50%, -50%);
}

.pointer {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  perspective: 170px;
}
.pointer__text {
  position: absolute;
  color: #fafafa;
  font-family: "monument_extendedregular", sans-serif;
  font-size: 0.7rem;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateX(60deg) rotateY(-20deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(60deg) rotateY(-20deg) rotateZ(360deg);
  }
}
.letter {
  position: absolute;
  top: -50px;
  display: inline-block;
  text-transform: uppercase;
  transform-origin: 0 50px;
}

@media (hover: hover) {
  .cursor {
    display: initial;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 4;
  display: grid;
  place-items: center;
  transition: display 300ms;
}
.preloader__heading {
  color: #fafafa;
  font-size: 8vw;
  font-family: "hansonhairline", sans-serif;
  text-transform: uppercase;
}
.preloader__track {
  position: relative;
  width: 80vw;
  max-width: 700px;
  height: 0.2rem;
  background-color: #0a0a0a;
}
.preloader__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  transform-origin: left;
  background-color: #fafafa;
  animation: preloader 4s linear infinite;
}
.preloader__text, .center {
  font-family: "monument_extendedregular";
  font-size: 3.7vw;
  line-height: 1.2;
}

.center {
  transition: all 1.9s ease-in;
  opacity: 0;
  transform-origin: 52% 50%;
}

@keyframes preloader {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(100%);
    transform-origin: right;
  }
}
.hamburger {
  padding: 0.3em;
  margin-left: 2em;
  z-index: 2;
  display: none;
  flex-direction: column;
}
.hamburger__line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #fafafa;
  margin: 0.4em 0;
  border-radius: 0.3em;
}

@media (max-width: 366px) {
  .hamburger {
    margin-left: 1em;
  }
}
@media (max-width: 300px) {
  .hamburger {
    margin-left: 0;
  }
}
@media (max-width: 750px) {
  .hamburger {
    display: flex;
  }
}
.footer {
  margin-top: 2em;
  padding: 3em;
  background-color: #0a0a0a;
}
.footer__heading {
  position: relative;
  text-align: center;
  font-family: "hansonbold", sans-serif;
  font-size: 4vw;
}
.footer__heading::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  width: 20%;
  height: 0.2rem;
  background-color: #fafafa;
  transform: translate(-50%, -50%);
}
.footer__data {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 4em;
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: column wrap;
  min-width: 55vw;
}
.form__contact {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
}
.form__des {
  margin: 0.9em 0;
  width: 100%;
}
.form__name {
  margin-right: 0.9em;
  width: 100%;
}
.form__email {
  width: 100%;
}

@media (max-width: 820px) {
  .form {
    justify-content: space-between;
  }
  .form__contact {
    flex-flow: row wrap;
  }
  .form__des {
    margin: 0.9em 0;
  }
  .form__name {
    margin-right: 0;
    margin-bottom: 0.9em;
  }
}
@media (max-width: 566px) {
  .footer__heading {
    font-size: 7vw;
    line-height: 1.1;
    text-align: left;
  }
  .footer__data {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 4em;
  }

  .form {
    order: 1;
    justify-content: space-between;
  }
  .form__contact {
    flex-flow: row wrap;
  }
  .form__des {
    margin: 0.9em 0;
  }
  .form__name {
    margin-right: 0;
    margin-bottom: 0.9em;
  }
}
@media (max-width: 366px) {
  .footer__heading {
    font-size: 11vw;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  padding: 1em 1.5em;
  height: 6em;
  z-index: 2;
}
.header__heading {
  overflow: hidden;
  margin: 2.3em 0 0 4em;
  font-family: "hansonbold", sans-serif;
  text-decoration: underline;
}

.short__links {
  display: flex;
}
.short__links li {
  margin: 1.3em 0.7em;
}
.short__links li a {
  color: #fafafa;
}
.short__links li a .fab,
.short__links li a .fas {
  font-size: 1.8rem;
}

@media (max-width: 566px) {
  .header {
    width: 100%;
    padding: 1em 0;
    margin-top: 1.1em;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    margin: 0;
  }
  .header__heading {
    margin: 1.3em 0 0 1.3em;
  }

  .short__links {
    display: none;
  }
}
@media (max-width: 366px) {
  .header {
    padding: 1em;
  }
  .header__heading {
    overflow: hidden;
    margin: 2.3em 0 0 4em;
    font-family: "hansonbold", sans-serif;
    text-decoration: underline;
  }
}
@media (max-width: 300px) {
  .header {
    padding: 0.2em;
    width: 99vw;
  }
}
.navbar ul {
  display: flex;
  margin-left: 3em;
}
.navbar ul li {
  margin: 0 1em;
  position: relative;
}
.navbar ul li a {
  overflow: hidden;
  font-family: "monument_extendedregular", sans-serif;
  color: #fafafa;
  transition: all 200ms ease;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: currentColor;
  transition: all 500ms;
  transform-origin: left;
  transform: scaleX(0);
}
.navbar ul li a:hover::before {
  transform: scaleX(1);
}
.navbar ul li a h3 {
  font-size: 1.1rem;
  overflow: hidden;
}

@media (max-width: 750px) {
  .navbar li a h3 span {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
  }
}
@media (max-width: 406px) {
  h2 span {
    font-size: 10vw;
  }
}
@media (max-width: 378px) {
  .navbar {
    width: 100%;
    padding: 1em 0;
  }
  .navbar ul {
    margin-left: 0;
    justify-content: space-around;
  }
  .navbar ul li a h3 span {
    font-size: 0.9rem;
  }
}
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 7em;
}
.intro__title {
  line-height: 1.23;
}
.intro__heading {
  text-align: left;
  font-size: 8vw;
  font-family: "hansonbold";
  overflow: hidden;
}
.intro__heading:first-child {
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
}
.intro__para {
  align-self: center;
  font-size: 1.2rem;
  max-width: 50ch;
  font-family: "Roboto", sans-serif;
  margin-top: 0.5em;
  z-index: -1;
}
.intro__para span {
  font-weight: bold;
}

@media (max-width: 750px) {
  .intro {
    padding: 5em;
  }
  .intro__para {
    width: 100%;
  }
  .intro__heading {
    font-size: 10vw;
  }
}
@media (max-width: 560px) {
  .intro {
    padding: 3.4em;
  }
  .intro__para {
    width: 100%;
  }
  .intro__heading {
    font-size: 13vw;
  }
}
@media (max-width: 398px) {
  .intro {
    padding: 2em;
  }
  .intro__para {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  .intro__heading {
    font-size: 14vw;
  }
  .intro__title {
    margin-top: 4em;
  }
}
@media (max-width: 300px) {
  .intro {
    padding: 1.2em;
  }
}
.projects {
  display: flex;
  flex-direction: column;
}
.projects h1 {
  font-size: 9vw;
  font-family: "monument_extendedultrabold";
  font-style: italic;
}

.project {
  position: relative;
  margin: 2em 0;
  padding: 1em 5em;
  align-items: center;
}
.project::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000, transparent);
}
.project a {
  flex-grow: 3;
  max-width: 80vw;
}
.project__img {
  width: 100%;
  filter: grayscale(100%);
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  transition: all 500ms linear;
}

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-content: flex-start;
  padding: 0 1em;
  flex-grow: 2;
  z-index: 2;
}

.project__heading {
  font-size: 2rem;
  font-family: "hansonbold", sans-serif;
}

.project__para {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  .project {
    flex-direction: column;
  }
  .project__img {
    order: 2;
  }
  .project__details {
    order: 1;
  }
}
@media (max-width: 820px) {
  .project__details {
    padding: 1em;
  }
}
@media (max-width: 550px) {
  .project {
    margin: 1em 0;
    padding: 1em 2em;
  }
  .project__details {
    padding: 1em;
  }
  .project__heading {
    font-size: 1.3rem;
  }
  .project__para {
    font-size: 1.1rem;
    font-family: "Roboto";
  }
}
@media (max-width: 350px) {
  .project__details {
    padding: 0.4em;
  }
}
.social__icons__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social__icons__wrapper li {
  color: #fafafa;
  font-family: "Roboto", sans-serif;
}
.social__icons__wrapper li .fas, .social__icons__wrapper li .fab {
  font-size: 1.8rem;
  margin-right: 0.5em;
}
.social__icons__wrapper li a {
  color: #fafafa;
}
.social__icons__wrapper .social__links {
  justify-content: flex-start;
  margin: 0.3em 0;
}
.social__icons__wrapper .social__links :hover {
  text-decoration: underline;
}

@media (max-width: 820px) {
  .social__icons__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .social__icons__wrapper .social__links {
    margin-right: 1em;
  }
}
@media (max-width: 566px) {
  .social__icons__wrapper {
    margin-top: 1em;
    order: 2;
    flex-direction: column;
  }
}
.request {
  padding: 1em;
  font-family: "monument_extendedultrabold";
  font-size: 8vw;
  word-wrap: break-word;
  hyphens: auto;
}

/*# sourceMappingURL=main.css.map */
