.pageloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-name: hide;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes hide {
  90% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.pageloader_content {
  display: flex;
  flex-direction: column;
}
.pageloader_title {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  animation: reveal 1s ease-in forwards;
  opacity: 0;
}
.pageloader_subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  animation: reveal 1.5s 0.5s ease-in forwards;
  opacity: 0;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 560px) {
  .pageloader_title {
    font-size: 1rem;
  }
  .pageloader_subtitle {
    font-size: 0.5rem;
  }
}
