// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;



/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing:border-box;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  cursor: none!important;
}


// hiding the default scrollbar
::-webkit-scrollbar{
  width:0;
  
}


/**
 * Basic styles for lists
 */

 ul li{
   list-style: none;
 }

 /**
 * Basic styles for links
 */
 a{
   text-decoration: none;
 }

  /**
 * Basic styles for body
 */
 body{
   min-height:100vh;
   text-rendering: optimizeSpeed;
   line-height:1.5;
   color: map-get($colors,'secondary');
   overflow: hidden; //so the cursor does not cause the body to overflow and vertical scrollbar does not appear on preloader
   background-color: map-get($colors,'primary');
  }

// Setting defaults for images

img{
  display: block;
  max-width:100%;
}

::selection{
  background-color: map-get($colors,'secondary');
  color:map-get($colors,'primary');
}
// Removing animations for those who does not prefer animation

@media(prefers-reduced-motion:reduce){
  html:focus-within{
    scroll-behavior: auto;
  }
  *,
  *::before,*::after{
    animation-duration: 0ms;
    transition: 0.01ms!important;
  }
}
