// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'hansonbold';
    src: url('..//..//assests/fonts/hanson-bold-webfont.woff2') format('woff2'),
         url('..//..//assests/fonts/hanson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'monument_extendedultrabold';
    src: url('..//..//assests/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
         url('..//..//assests/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hansonhairline';
    src: url('..//..//assests/fonts/hanson_hairline-webfont.woff2') format('woff2'),
         url('..//..//assests/fonts/hanson_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
