// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;
// center by flexbox
.flex--center{
  display: flex;
  justify-content: center;
  align-items:center;
}
.align--left{
  display: flex;
  justify-content:flex-start;
  align-items:center;
}

// center by grid
.grid--center{
  display: grid;
  place-items: center;
}

// center by position
.position--center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.opener{
  transform-origin: left;
}

.hider{
  display: block;
}